body{
    margin: 60px auto;
        color: d3d3d3;
}

p {
    font-size: 11pt;
    line-height: 1.4em;
    color: d3d3d3;
}


p {
    font-size: 10pt;
    line-height: 1.4em;
    color: black;
}


footer{
    border-top: 1px solid #000000;
    font-size: 10pt;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #d3d3d3;
  overflow: hidden;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 20px;
}

.navbar a:hover {
  background-color: #d3d3d3;
  color: black;
}

.navbar a.active {
  background-color: #d3d3d3;
  color: black;
}


