body{
    margin: 60px auto;
    width: 70%;
}

h1{
    font-size: 30em;
    line-height: 1.4em;
    color: #333;
}

p{
    font-size: 30em;
    line-height: 1.4em;
    color: #333;
}

footer{
    border-top: 1px solid #000000;
    font-size: 30em;
}
